body {
  background-color: #f3eae3;
  display: flex;
  padding: 40px;
  justify-content: center;
  margin: 0;

}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2px margin-top: 20px;
  margin-bottom: 20px;

}

h1 {
  color: #a1a3b0;

}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  letter-spacing: 2px;
  color: #a1a3b0;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;


}

.titulo h1 {
  font-size: 13px;
  color: #4c4d4e;
  margin: 0 0 10px 0;
  letter-spacing: 5px;

}

.titulo p {
  font-size: 24px;
  margin: 0 0 10px 0;
  color: #1c232b;
}

.descripcion {
  color: #a1a3b0;
  font-family: serif;
  font-size: 16px;
  max-width: 250px;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: bold;



}

.precio {
  color: #3d8168;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-weight: 1000;
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 20px
}

img {
  max-width: 100%;
  width: 300px;
  height: auto;


}

.imagen {
  width: 300px;
  height: 100%;
  flex-shrink: 0;
  display: flex;

}

.columnader {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;

}

.nombre {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 656;
  font-style: normal;
  margin: 0;
  line-height: 18px;


}

.fila {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0px;
  max-width: 900px;
  margin: auto;
  width: 100%;
}

.boton {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #3c8067;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;

}